# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

# Virtualenv
.venv/
venv/
ENV/

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Env & secrets
.env
.env.*
*.env

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
