<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">		
        {% include 'partials/products/root_group.html' with title='ارزانترین محصولات' %}            
         <div class="product_flexbox" style="display: flex; flex-wrap: wrap;">
             {% for product in products %}
                 {% include 'partials/products/product_box.html' with type=1 %}
{#                {% if type == 1 %}#}

{#                {% elif type == 2%}#}
{#                    <div class="product-card" style="width: 200px; margin-left: 12px;">           #}
{#                    <div class="product-card__image">#}
{#                        <a href="product.html"><img src="{{media_url}}{{product.image_name}}" alt="" ></a>#}
{#                    </div>#}
{#                    <div class="product-card__info">#}
{#                        <div class="product-card__name">#}
{#                            <a href="product.html">{{product.product_name}}</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="product-card__actions">#}
{#                        <div class="product-card__prices">{{product.price}} تومان </div>#}
{#                        <div class="product-card__buttons">#}
{#                            <button class="btn btn-primary product-card__addtocart" type="button">افزودن به سبد</button>#}
{#                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">#}
{#                                <i class="fa fa-heart"></i>#}
{#                                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>#}
{#                            </button>#}
{#                            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">#}
{#                                <i class="fa fa-shopping-cart"></i>#}
{#                                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                {% endif %}#}
             {% endfor %}
         </div>
     </div>
</div>       
