{% if related_products %}
<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">		
        {% include 'partials/products/root_group.html' with title='محصولات مرتبط' %}            
         <div class="product_flexbox" style="display: flex; flex-wrap: wrap;">
             {% for product in related_products %}
                 {% include 'partials/products/product_box.html' with type=1 %}
             {% endfor %}
         </div>
     </div>
</div>       
{% endif %}